{% extends 'base.html' %}
{% block content %}
<div class="forgot-password">
    <h2 class="title">Don't Worry!</h2>
    <p class="desc">Please enter your email address and we will send you a link to reset your password.</p>
    <form method="post" class="forgot-password__form" action="{% url 'forgot_password' %}" enctype="multipart/form-data"> 
        {% csrf_token %}
        <input class="forgot-password__input" type="email" id="email" name="email" placeholder="Enter your email address">
        <button class="forgot-password__submit" type="submit">Continue</button>
    </form>
</div>

{% include 'includes/alerts.html' %}
<script>
const toast = document.querySelector('.toast')

setTimeout(function() {
    if (toast) {
     toast.remove();
    }
}, 3000)
</script>
{% endblock %}