{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="reset-password">
    <h2 class="title">Reset Your Password</h2>
    <form  class="reset-password__form" action="{% url 'reset_password' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="reset-password__input" type="password" name="password" placeholder="Set new password">
        <input class="reset-password__input" type="password" name="confirm_password" placeholder="Confirm new password">
        <button class="reset-password__submit" type="submit">Continue</button>
    </form>
</div>
<!-- Load message -->
{% include 'includes/alerts.html' %}
{% endblock %}
{% block footer %}
{% include 'includes/footer.html' %}
<script src="{% static 'js/script_login.js' %}"></script>
</body>
</html>
{% endblock %}

