{% load static %}
<div class="restaurant-banner">
    <div class="restaurant-banner-container">
        {% if vendor.user_profile.cover_photo %} 
            <img src="{{ vendor.user_profile.cover_photo.url }}" alt="restaurant" class="bg">
        {% else %} 
        <img src="{% static 'img/img_vendor/background_default.jpg' %}" alt="restaurant" class="bg">
        {% endif %}
        <div class="context">
            {% if vendor.user_profile.profile_picture %}
            <img src="{{ vendor.user_profile.profile_picture.url }}" alt="restaurant" class="restaurant-img">
            {% else %}
            <img src="{% static 'img/img_vendor/restaurant_default.jpg' %}" alt="restaurant" class="restaurant-img">
            {% endif %}
            <div class="text">
                <h2 class="restaurant-name">{{vendor.vendor_name}}</h2>
                {% if vendor.user_profile.address %}
                <p class="address">
                    <i class="fas fa-map-marker-alt"></i>
                    {{vendor.user_profile.address}}
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
