{% extends 'base.html'%}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/style_system_about.css' %}">
{% endblock %}
{% block content %}
 <!-- About -->
 <div class="about-detail">
    <div class="about-heading">
        <img src="{% static 'img/cocktail-1.png'%}" alt="" class="thumb" />
        <div class="about-heading-content">
            <h1 class="title">Why Choose Us?</h1>
            <h2 class="title-sub">What's Make Our Food Delicious!</h2>
            <div class="desc">The restaurants we carefully select go through meticulous evaluations, from licenses to ingredient quality. In addition to that, they offer a wide variety of dishes and showcase exceptional culinary skills.We have a user-rated evaluation system that ensures transparency and helps you choose the best food options. With just a few clicks, you can be confident that everything will meet your expectations and leave you satisfied</div>
        </div>
    </div>

    <div class="about-feature">
        <div class="feature-item">
            <img src="{% static 'img/cocktail-2.png'%}" alt="">
            <h3>Fast Delivery</h3>
        </div>
        <div class="feature-item">
            <img src="{% static 'img/cocktail-3.png'%}" alt="">
            <h3>Fresh Food</h3>
        </div>
        <div class="feature-item">
            <img src="{% static 'img/cocktail-4.png'%}" alt="">
            <h3>Best Quality</h3>
        </div>
        <div class="feature-item">
            <img src="{% static 'img/cocktail-5.png'%}" alt="">
            <h3>24/7 Support</h3>
        </div>
    </div>

    <div class="about-desc">
        <div class="about-text">
            <div class="title">About Us</div>
            <div class="desc">We are a passionate team of food enthusiasts who have built Food.vn with a mission to provide people with diverse and exciting culinary experiences. We believe that food is a language that connects people, and we are committed to bringing the best culinary experiences to our customers.</div>
   
        </div>
        <div class="about-text">
            <div class="title">Restaurant Selection Process</div>
            <div class="desc">We understand that quality is the most important factor in food. That's why we carefully select our partner restaurants. We conduct thorough evaluations, ranging from checking operating licenses to assessing ingredient quality. This ensures that we only choose reliable restaurants that deliver.</div>
        </div>
    </div>
    <div class="about-desc">
        <div class="about-text">
            <div class="title">Restaurant Partners</div>
            <div class="desc">We collaborate with top-tier restaurants in the area. Each partner restaurant has its own unique history and culinary style. We select restaurants that are recognized for their quality, creativity, and talented chef teams. Our partners are dedicated to serving distinctive and delicious dishes, ranging from traditional favorites to innovative creations.</div>
        </div>
    </div>
    <div class="about-desc">
        <div class="about-text">
            <div class="title">Thank you</div>
            <div class="desc">We look forward to accompanying you on an incredible culinary journey through Food.vn. With us, all it takes is a few clicks to savor the finest dishes and have an exceptional dining experience.</div>
        </div>
    </div>
    <div class="banner-about">
        <img src="https://png.pngtree.com/background/20210714/original/pngtree-fruit-tea-ice-drink-picture-image_1198491.jpg" alt="">
    </div>
</div>
<!-- End about -->
{% endblock %}
