@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");
// variable
$light: #f9f9f9;
$blue: #3c91e6;
$light-blue: #cfe8ff;
$grey: #eee;
$dark-grey: #aaaaaa;
$dark: #342e37;
$red: #db504a;
$yellow: #ffce26;
$light-yellow: #fff2c6;
$orange: #fd7238;
$light-orange: #ffe0d3;
// function
@mixin font($size, $color) {
    font-family: "Lato";
    font-size: $size;
    color: $color;
}

@mixin set_size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}

@mixin maxWidth($val) {
    @media screen and (max-width: $val) {
        @content;
    }
}

@mixin flexbox(
    $align: flex-start,
    $justify: flex-start,
    $flexdirection: row,
    $flexwrap: nowrap
) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $flexdirection;
    flex-wrap: $flexwrap;
}

// base
* {
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    &::-webkit-scrollbar {
        width: 1rem;
    }
    &::-webkit-scrollbar-track {
        background: #fff;
    }
    &::-webkit-scrollbar-thumb {
        background: rgb(160, 232, 238);
        border-radius: 5rem;
    }
}

body {
    font-size: 1.6rem;
    font-family: "Poppins";
}

// Common
a {
    text-decoration: none;
}

li {
    list-style: none;
}

// Code

#sidebar-customer {
    position: fixed;
    top: 85px;
    left: 0;
    width: 280px;
    height: calc(100vh - 85px);
    background: #ffffff;
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.05);
    z-index: 1000;
    font-family: "Lato";
    transition: 0.3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
    &::--webkit-scrollbar {
        display: none;
    }
    &.hide {
        width: 60px;
        .side-menu-customer li a {
            width: calc(48px - (4px * 2));
            transition: width 0.3s ease;
        }
    }
    .show-bar {
        position: absolute;
        top: 0;
        right: 20px;
        z-index: 1000;
        cursor: pointer;
    }

    .brand {
        position: sticky;
        top: 3rem;
        left: 0;
        z-index: 500;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            @include set_size(60px);
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .side-menu-customer {
        width: 100%;
        margin-top: 48px;

        li {
            height: 4.8rem;
            background: transparent;
            margin-left: 6px;
            border-radius: 48px 48px 48px 48px;
            margin-top: 1rem;
            padding: 4px;
            &.active {
                background: linear-gradient(
                    to right,
                    #22f49579,
                    rgba(17, 186, 247, 0.292)
                );
                padding: 0 10px 0 10px;
            }
            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                border-radius: 48px;
                font-size: 16px;
                color: #555555;
                white-space: nowrap;
                overflow-x: hidden;
                font-size: 1.8rem;
                background-color: #fff;
                .icon-dashboard {
                    min-width: calc(60px - ((4px + 6px) * 2));
                    display: flex;
                    justify-content: center;
                }

                .text {
                    font-weight: 500;
                }
            }
            a.logout {
                color: $red;
            }

            &:hover {
                background: linear-gradient(
                    to right,
                    #2276f479,
                    rgba(234, 6, 6, 0.44)
                );
                padding: 0 10px 0px 10px;
            }
        }
        &.top {
            li.active a {
                color: $blue;
            }
            li a:hover {
                color: $blue;
            }
        }
    }
}

#content-customer {
    position: relative;
    width: calc(100% - 280px);
    left: 280px;
    transition: 0.3s ease;
    background-color: #f9f9f9;
    height: calc(100vh - 85px);
    padding: 1rem 2rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: linear-gradient(
            to right,
            #3cb2ddd4,
            rgba(70, 172, 209, 0.759)
        );
        border-radius: 999px;
    }

    &::before {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        top: -2rem;
        left: -2rem;
        border-radius: 50%;
        background: #ffffff;
        z-index: 3000;
    }

    .title-info {
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: 600;
        position: relative;
        padding-bottom: 1rem;

        &::after {
            position: absolute;
            content: "";
            display: inline-block;
            height: 4px;
            width: 60px;
            background-color: #000;
            bottom: 0;
            left: 0;
            border-radius: 999px;
        }
    }

    .info-customer {
        margin-top: 2rem;
        height: 400px;
        background-color: #fff;
        border-radius: 2rem;
    }
}

#sidebar-customer.hide ~ #content-customer {
    width: calc(100% - 60px);
    left: 60px;
}

#content-customer {
    .cover-img {
        width: 100%;
        height: 250px;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 2rem;
        }

        .info-left {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            top: 50%;
            left: 5rem;
            transform: translateY(-50%);

            .profile-img {
                @include set_size(140px);
                object-fit: cover;
                border-radius: 2rem
            }

            .user-name {
                margin-top: 1rem;
                align-self: flex-start;
                font-weight: 500;
                font-size: 2.5rem;
                color: #fff;
            }
        }
    }

    .info-customer {
        display: flex;
        border-left: 6px solid rgb(17, 171, 222);
    }

    .info-center {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        gap: 1rem;
        .group-text {
            padding-left: 2rem;
            height: calc(100% / 4);
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            justify-content: center;
            &:not(:last-child) {
                border-bottom: 1px solid #529de2;
            }

            .text {
                color: #a4a2a1;
                font-weight: 500;
                font-size: 1.8rem;
            }
        }
    }

    .info-right {
        padding: 1rem 0;
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        .group-statistic {
            width: 70%;
            height: calc(100% / 3 - 1rem / 3);
            background: #f9f9f9;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            padding-left: 4rem;
            gap: 2rem;

            .statistic-icon {
                background-color: #cfe8ff;
                height: 100px;
                width: 100px;
                border-radius: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    font-size: 4rem;
                    color: #3c91e6;
                }
            }

            .data-number {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: flex-start;

                h3 {
                    background-color: rgb(86, 192, 227);
                    min-width: 8rem;
                    color: #fff;
                    font-weight: bold;
                    padding: 0.5rem 2rem;
                    border-radius: 1rem;
                    text-align: center;
                }
            }
        }
    }
}

.table-data {
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 2rem;
    padding: 2rem;

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-size: 2.4rem;
            font-weight: 600;
        }

        .group-icon-filter {
            display: flex;
            gap: 1rem;
        }
    }

    .table-order {
        margin-top: 2rem;

        .row-order {
            display: flex;
            align-items: center;

            .col-order {
                width: calc(100% / 6);
                text-align: center;
                padding: 25px 0;

                .status {
                    background: #3c91e6;
                    font-size: 12px;
                    padding: 6px 21px;
                    border-radius: 20px;
                    font-weight: 700;
                    color: #fff;
                }

                .btn-detail {
                    display: inline-block;
                    min-width: 10rem;
                    font-size: 1.4rem;
                    color: #fff;
                    background-color: rgb(244, 76, 64);
                    padding: 0.6rem;
                    border-radius: 0.5rem;
                    font-weight: bold;
                }
            }

            &:hover {
                background: #eee;
            }
        }

        .row-heading {
            .col-order {
                font-size: 1.6rem;
                font-weight: bold;
                text-align: center;
                border-bottom: 1px solid #eee;
            }
        }
    }
}


#content-customer .pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    .context {
        margin-left: auto;
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        li {
            padding: 1rem 0.5rem;
            text-align: center;
            min-width: 4rem;
            border: 1px solid #c2dce7;
            border-radius: 0.5rem;
            transition: all 0.3s linear;
            &:hover {
                background-color: #6faeed;
            }
            a {
                color: #000;
                cursor: pointer;
                display: block;
            }
        }
    }
}
